 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  width: 1950px;

}

.header {
  background-color: white;
  border-bottom: solid gray;
  border-width: 1px;
}

.etsy {
  color: RGBA(209, 89, 40, 1);
}

/* Body of page */

.container {
  width: 1500px
  list-style: none;
  @include outer-container;
}

.searchcrit {
  @include span-columns(4);
}

.items {
  @include span-columns(8);
}

.box {
  @include span-columns(4 of 8);
}
li {
  list-style: none;
}

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* example

In HTML:



CSS:
body {
margin: 50px;
}

.box {
  position: relative;
  width: 300px;
}

.heart, .hamburger {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
}

.heart {
  right: 75px;
}

&.showButtons .heart, &.showButtons .hamburger {
display: block;
}

In js:

$('.box').hover(
function () {
  $(this).addClass('showButtons');
}
); */
