 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  width: 1500px;

}

.header {
  background-color: white;
  border-bottom: solid gray;
  border-width: 2px;
}

.etsy {
  color: RGBA(209, 89, 40, 1);
}

.content {
  background-color: RGBA(245, 245, 241, 1);
}
