 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  width: 1500px;

}

.header {
  background-color: white;
  border-bottom: solid gray;
  border-width: 1px;
}

.etsy {
  color: RGBA(209, 89, 40, 1);
}

.content {
  width: 1500px;
  height: 3000px;
  background-color: RGBA(245, 245, 241, 1);
  padding-top: 60px;
}

.sidebar {
  border: solid gray 1px;
  border-radius: 2px;
  width: 290px;
  margin-left: 170px;
  background-color: white;


}

.searchcriteria {
  margin: 0;
  padding: 0;
}
